* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Graphik", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #fff, #FF8744);
}


header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

main {
  text-align: left;
}

content img {
  max-width: 400px;
  height: auto;
  padding-top: 50px;
}

header { 
  color: #fff;
}

header h1 {
  margin: 0;
  padding: 1rem;
}

.image-placeholder {
  height: 50%;
  width: 50%;
}

footer {
  padding-top: 30px;
  color: #fff;
  align-items: bottom;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

p {
  margin-bottom: 0;
  text-align: left;
  align-items: left;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.button-group a {
  margin-right: 20px;
}

.button-group a:last-child {
  margin-right: 0;
}

.spacer {
  padding-top: 180px;
}

.text {
  text-align: left; 
  padding:20px; 
  font-size: 12pt;
}
